flet==0.28.3
bcrypt==4.2.0

# stack data / maths
numpy>=1.26,<3.0
pandas>=2.2,<3.0
matplotlib>=3.10,<4.0

# visualisation
plotly>=5.24,<7.0

# HTTP / parsing
requests>=2.31,<3.0
beautifulsoup4>=4.12,<5.0
html5lib>=1.1,<2.0
python-dateutil>=2.8,<3.0
urllib3>=2.0,<3.0

# export images Plotly
#kaleido==1.3.0
